*~
MavenActivity/readwrite-activity/readwrite-activity-app/target/
MavenActivity/readwrite-activity/readwrite-activity-model/target/
MavenActivity/readwrite-activity/readwrite-activity-service/target/
